:root {
    --accent-color: #ffd400;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: radial-gradient(#132a41, #000);
}

a {
    font-weight: 900;
    color: var(--accent-color);
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    max-width: 1050px;
    margin: 0 auto;
}

.logo__svg {
    width: 100%;
    max-width: 750px;
}

.info {
    text-align: center;
}

.info__heading {
    font-size: 50px;
    font-weight: 100;
    margin: 30px 0;
}

.info__heading > span {
    font-family: 'Permanent marker', cursive;
    font-weight: 400;
    color: var(--accent-color);
}

.info__text {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.8;
    margin: 0;
}

.info__text > mark {
    color: var(--accent-color);
    background-color: transparent;
}

.info__text--smaller {
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 15px;
    }

    .info__heading {
        font-size: 34px;
    }

    .info__text {
        font-size: 22px;
    }

    .info__text--smaller {
        font-size: 16px;
    }
}
